<div ng-controller="CinemaTheaterController">
<div class="container" align="justify">
	<br/>
	<br/>
	
	
	<div >
		<h2 align="center">
		 	<label>{{cinemaTheater.name}}</label>
		</h2>
		 	<br/>
		<h4>
		 	<label> Address: {{cinemaTheater.adress}}</label>
		 	<br/>
		 	<label> Description:</label> <textarea rows="4" cols="50"> {{cinemaTheater.description}} </textarea>
		 	<br/>
		  	<label>Rating: {{cinemaTheater.rating}} </label>
		  	<br/>
		  	<label>GoogleMaps</label>
		  	<br/>
		</h4>
	</div>
	

	<div >
	 	<button type="button" class="btn btn-primary" ng-click=showView(1)>Edit</button>
	 	<a href="#/projections/{{selected.id}}"> <button class="btn btn-primary">All projections</button></a>
	 	<a href="#/fastReservation/{{selected.id}}"> <button class="btn btn-primary">Fast reservations</button></a>
	<!--  	<button type="button" class="btn btn-primary" ng-click=showView(2)>Edit projection</button> -->
	</div>
	<div ng-show="show==1" ng-include src="'editCinemaTheater.html'"></div>
	<!--  <div ng-show="show==2" ng-include src="'editProjection.html'"></div> -->

</div>
</div>
